:root{
    --primary-color: #0061FF;
    --primary-text: #282C5C;
    --white-color: #ffffff;
    --grayscale-text: #AFB0B1;
    --text-black: #14142B;
    --sidebar-bg: #F7F8FA;
    --sucess-green: #2ECC71;
    --failure-red: #E74C3C;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
}

body{
    background: var(--white-color);
    color: var(--primary-text);
    font-family: ne_grotesk;
    font-weight: normal;
    font-size: 1rem;
    overflow-x: hidden;
}

dl, ol, ul{
    margin-bottom: 0px;
}

ol, ul{
    padding-left: 0rem;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
    margin-bottom: 0px;
}

a{
    text-decoration: none;
}

.web-container{
    display: grid;
    width: 100%;
    margin: 0 auto;
    gap: 0rem;
    grid-template-columns: 15rem auto;
}

aside{
    height: 100vh;
    background: var(--sidebar-bg);
    border-right: 1px solid #f2f2f2;
}

aside .top{
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 1.4rem; */
}

aside .logo{
    margin: 20px auto;
}

aside .logo img{
    width: 10rem;
}

aside .close{
    display: none;
}

/* Sidebar */

aside .sidebar{
    background: transparent;
    display: flex;
    flex-direction: column;
    height: 86vh;
    position: relative;
    top: 3rem;
}

aside h3{
    font-weight: 400;
    font-size: 1rem;
}

aside .sidebar a{
    display: flex;
    color: #999FAF;
    margin-left: 2rem;
    margin-right: 2rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 2.7rem;
    transition: all 300ms ease;
    margin-bottom: 10px;
    padding-left: 10px;
}

aside .sidebar a span{
    font-size: 1rem;
    transition: all 300ms ease;
}

aside .sidebar .sidebar-extra-info{
    position: absolute;
    bottom: 2rem;
    width: 100%;
}

aside .sidebar a.active{
    background: #ffffff;
    color: #373F5E;
    border-radius: 5px;
}


aside .sidebar a.active span{
    color: green;
    margin-left: calc(1rem -3px);
}

aside .sidebar a:hover span{
    margin-left: 1rem;
}


/* Top */

.top button{
    display: none;
}

/* Tables Media Queries */

@media screen and (max-width: 1200px) {
    .web-container{
        grid-template-columns: 10rem auto;
    }

    aside .sidebar h3{
    }
}

/* Mobile Media query */
@media screen and (max-width: 768px){
    .web-container{
        width: 100%;
        grid-template-columns: 1fr;
    }

    aside{
        position: fixed;
        left: -100%;
        background: var(--sucess-green);
        width: 18rem;
        z-index: 3;
        box-shadow: 1rem 3rem 4rem var(--grayscale-text);
        height: 100vh;
        display: none;
        animation: showMenu 400ms ease forwards;
        
    }

    @keyframes showMenu {
        to {
            left: 0;
        }   
    }

    aside .sidebar a{
        /* width: 100%; */
        height: 3.4rem;
    }

    aside .sidebar .sidebar-extra-info{
        bottom: 2rem;
    }

    aside .close{
        display: inline-block;
        cursor: pointer;
    }

    main{
        /* margin-top: 8rem;
        padding: 0 1rem; */
    }

    .top{
        display: flex;
        top: 0;
        left: 0;
        align-items: center;
        padding: 0 0.8rem;
        height: 4.6rem;
        background: var(--white-color);
        width: 100%;
        
        /* z-index: 2; */
        box-shadow: 0 1rem 1rem var(--grayscale-text);
    }

    .top button{
        display: inline-block;
        background: transparent;
        cursor: pointer;
        color: var(--primary-text);
    }

    .top button span{
        font-size: 2rem;
    }
}
